img {
  opacity: 0.85;
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

#quote {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: var(--padding);
}

#quote span:first-child {
  margin-bottom: var(--gap);
  font-size: 18px;
}

#quote span:last-child {
  font-weight: 600;
}
